.about-content {
  width: 80vw;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  color: #2b3073;
  font-size: 1rem;
  text-align: left;
}

.about-content p {
  margin: 1rem 0;
}

.about-content p:nth-child(3) {
  display: none;
}

.about-content .text-point {
  color: #fd025e;
  font-weight: bold;
}

.about-content .line-through {
  text-decoration: line-through;
}

.about-content .big {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.tech-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tech-skills p {
  font-weight: bold;
  margin-bottom: 0;
}

.tech-skills .as-is {
  padding-left: 1rem;
}

.tech-skills .as-is ul {
  padding-left: 1rem;
}

.tech-skills .as-is ul li {
  padding-left: 0.5rem;
}

.tech-skills .as-is ul li:nth-child(n) {
  list-style-type: '\1F33F';
}

.tech-skills .as-is ul li:nth-child(n + 3) {
  list-style-type: '\1F331';
}

.tech-skills .to-be {
  padding-left: 1rem;
}

.tech-skills .to-be ul {
  padding-left: 1rem;
}

.tech-skills .to-be ul li {
  padding-left: 0.5rem;
}

.tech-skills .to-be ul li:nth-child(1) {
  list-style-type: '\1F349';
}

.tech-skills .to-be ul li:nth-child(2) {
  list-style-type: '\1F348';
}

.tech-skills .to-be ul li:nth-child(3) {
  list-style-type: '\1F34E';
}

.tech-skills .to-be ul li:nth-child(4) {
  list-style-type: '\1F34C';
}

.tech-skills .to-be ul li:nth-child(5) {
  list-style-type: '\1F353';
}

.tech-skills .to-be ul li:nth-child(6) {
  list-style-type: '\1F34A';
}

.tech-skills .to-be ul li:nth-child(7) {
  list-style-type: '\1F352';
}

/*** contact component */
.contact-form {
  width: 100%;
}

.contact-form hr {
  width: 40%;
  border: 0.6px solid #2b3073;
  margin: 1rem 0;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form form label {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #2b3073;
  font-size: 0.8rem;
}

.contact-form form input[type='text'],
.contact-form form input[type='email'],
.contact-form form textarea {
  padding: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #2b3073;
  border-radius: 2px;
  margin: 0.2rem 0 0.5rem;
  resize: vertical;
}

.contact-form form input[type='submit'] {
  width: 70px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #2b3073;
  background-color: transparent;
  color: #2b3073;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-form form input[type='submit']:hover, .contact-form form input[type='submit']:active {
  border: none;
  background-color: #00e75e;
  border-radius: 2px;
}

@media screen and (min-width: 451px) {
  .tech-skills {
    width: 350px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form hr {
    width: 180px;
  }
  .contact-form form input[type='text'],
  .contact-form form input[type='email'],
  .contact-form form textarea {
    width: 360px;
  }
}

@media screen and (min-width: 901px) {
  .about-content {
    width: 700px;
    height: auto;
    margin: 0 auto;
  }
  .about-content p:nth-child(3) {
    display: unset;
  }
}
/*# sourceMappingURL=about.css.map */