@import 'variables';

.about-content {
  width: 80vw;
  margin: 0 auto;

  font-family: $font-text;
  color: $text-navy;
  font-size: 1rem;
  text-align: left;
  p {
    margin: 1rem 0;

    /* hide a paragraph including additional content in mobile view */
    &:nth-child(3) {
      display: none;
    }
  }
  .text-point {
    color: $point-pink;
    font-weight: bold;
  }
  .line-through {
    text-decoration: line-through;
  }
  .big {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  a {
    color: $text-navy;
  }
}

.tech-skills {
  display: flex;
  flex-direction: column;

  p {
    font-weight: bold;
    margin-bottom: 0;
  }

  .as-is {
    padding-left: 1rem;
    ul {
      padding-left: 1rem;
      li {
        padding-right: 0.5rem;
        &:nth-child(n) {
          list-style-type: '\1F33F';
        }

        &:nth-child(n + 3) {
          list-style-type: '\1F331';
        }
      }
    }
  }

  .to-be {
    padding-left: 1rem;
    ul {
      padding-left: 1rem;
      li {
        padding-left: 0.5rem;

        &:nth-child(1) {
          list-style-type: '\1F349';
        }
        &:nth-child(2) {
          list-style-type: '\1F348';
        }
        &:nth-child(3) {
          list-style-type: '\1F34E';
        }
        &:nth-child(4) {
          list-style-type: '\1F34C';
        }
        &:nth-child(5) {
          list-style-type: '\1F353';
        }
        &:nth-child(6) {
          list-style-type: '\1F34A';
        }
        &:nth-child(7) {
          list-style-type: '\1F352';
        }
      }
    }
  }
}

/* # text component - contact form */
.contact-form {
  width: 100%;

  hr {
    width: 40%;
    border: 0.6px solid $text-navy;
    margin: 1rem 0;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-family: $font-bold;
      text-transform: uppercase;
      font-weight: 600;
      color: $text-navy;
      font-size: 0.8rem;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      padding: 0.2rem;
      box-sizing: border-box;
      border: 1px solid $text-navy;
      border-radius: 2px;
      margin: 0.2rem 0 0.5rem;
      resize: vertical;
    }

    input[type='submit'] {
      width: 70px;
      height: 30px;
      border-radius: 2px;
      border: 1px solid $text-navy;
      background-color: transparent;
      color: $text-navy;
      font-family: $font-bold;
      text-transform: uppercase;
      font-weight: 600;

      &:hover,
      &:active {
        border: none;
        background-color: $point-green;
        border-radius: 2px;
      }
    }
  }
}

/* set the maximum width of the <hr>, <input>, and <textarea> */
@media screen and (min-width: 451px) {
  .tech-skills {
    width: 350px;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form {
    hr {
      width: 180px;
    }

    form {
      input[type='text'],
      input[type='email'],
      textarea {
        width: 360px;
      }
    }
  }
}

@media screen and (min-width: 901px) {
  .about-content {
    width: 700px;
    height: auto;
    margin: 0 auto;

    p {
      /* display a paragraph including additional content */
      &:nth-child(3) {
        display: unset;
      }
    }
  }
}
