@import 'variables';
@import 'settings';
@import 'navbar';

.about-content {
  font-family: $font-text;
  color: $text-navy;
  font-size: 1rem;
  p {
    margin: 1rem 0;
  }
  .text-point {
    color: $point-green;
    font-weight: bold;
  }
  .line-through {
    text-decoration: line-through;
  }
}
