/* remove all the default margin and padding on each element */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #f5f2e3;
  background-image: linear-gradient(315deg, #f5f2e3 0%, #f6f0ea 90%);
  /* make the gradient background colour stretch on the whole page */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* # graphical component - the grid and flexbox to display the list of blog articles */
.blog-container {
  width: 80vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 1fr);
      grid-template-columns: minmax(250px, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1.5rem;
  justify-items: center;
  /* # graphical component - a list of blog posts displaying titles, dates, and images */
}

.blog-container .blog-box {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* block a click event for unlinked blog pages */
}

.blog-container .blog-box .blog-box__link {
  text-decoration: none;
  /* to apply the 'justify-content: space-between', height should be set */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* display a title and keyword on the top and at the bottom respectively */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #2b3073;
  /* hide some content in mobile view */
}

.blog-container .blog-box .blog-box__link .hidden {
  display: none;
}

.blog-container .blog-box .blog-box__link .blog-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  padding-right: 0.5rem;
  text-align: left;
}

.blog-container .blog-box .blog-box__link p {
  font-family: "Noto Sans", sans-serif;
  color: #a4a4a5;
  font-size: 0.7rem;
}

.blog-container .blog-box .disabled {
  pointer-events: none;
  cursor: default;
}

.blog-container .blog-box .post-img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-container hr {
  border: 1px solid #00e75e;
  width: 100%;
}

@media screen and (min-width: 551px) {
  .blog-container .blog-box .blog-box__link .blog-title {
    font-size: 1.3rem;
  }
  .blog-container .blog-box .post-img {
    width: 150px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 735px) {
  .blog-container .blog-box .blog-box__link {
    /* display the content hidden in mobile view */
  }
  .blog-container .blog-box .blog-box__link .hidden {
    display: unset;
  }
  .blog-container .blog-box .blog-box__link .blog-title {
    font-size: 1.6rem;
  }
  .blog-container .blog-box .post-img {
    width: 200px;
    height: 135px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1000px) {
  .blog-container {
    width: 800px;
  }
}
/*# sourceMappingURL=blog.css.map */