@import 'variables';

body {
  margin-bottom: 4rem;
}

/* # text component - icons displaying at the bottom of each page */
#footer {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    li {
      list-style-type: none;

      // hide codepen account
      // &:nth-child(2) {
      //   display: none;
      // }
    }
  }
}

.social {
  padding: 0.5rem;

  .fab {
    font-size: 1.2rem;
    color: $point-green;
  }
}
