@import 'settings';

header {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-gradient;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 1;

  /* # text component - aligning title with flexbox */
  .header-title {
    @include bold-text;
    padding: 1rem;
    margin-top: 1rem;

    a {
      text-decoration: none;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .header-title-1 {
        align-self: center;
        color: $text-navy;
        font-size: 0.9rem;
        line-height: 11px;
        padding-right: 3px;
      }
      .header-title-2 {
        align-self: flex-start;
        color: $point-pink;
        font-size: 1.5rem;
        padding-left: 3px;
      }
    }

    &:hover {
      .header-title-1 {
        animation: rotateTitle 1s 1;
      }
    }
    &:active {
      .header-title-1 {
        transform: scale(1.2);
      }
    }
  }

  /* animate the title when hovering the element */
  @keyframes rotateTitle {
    0% {
      transform: rotate(-2deg);
    }
    25% {
      transform: scale(1.2) rotate(5deg);
    }

    50% {
      transform: scale(1.2) rotate(-5deg);
    }

    75% {
      transform: scale(1.2) rotate(3deg);
    }

    100% {
      transform: rotate(-1deg);
    }
  }

  /* # text component - navbar */
  .navbar {
    width: 100vw;
    margin-bottom: 1rem;
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        display: inline-block;
        border-right: 0.2rem solid $point-green;
        /* remove the last border-right */
        &:nth-child(4) {
          border-right: none;
        }

        a {
          @include heading;
          text-decoration: none;
          padding: 0.5rem;
        }

        a:hover,
        a:active {
          border-bottom: 3px solid $point-pink;
        }
      }
    }
  }
}

.main-section {
  margin: 150px 0 2rem;
  width: 100%;
  text-align: justify;

  .page-title {
    @include bold-text;
    color: $point-green;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-height: 320px) {
  header {
    .header-title {
      /* give more space for main when the height is less than 320px */
      padding: 0.3rem;
      margin-top: 0;
    }
  }
}
