/* remove all the default margin and padding on each element */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

header {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f0ea;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 1;
  /* # text component - aligning title with flexbox */
  /* animate the title when hovering the element */
  /* # text component - navbar */
}

header .header-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: calc(2rem + 1.8vw);
  padding: 1rem;
  margin-top: 1rem;
}

header .header-title a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title a .header-title-1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #2b3073;
  font-size: 0.9rem;
  line-height: 11px;
  padding-right: 3px;
}

header .header-title a .header-title-2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fd025e;
  font-size: 1.5rem;
  padding-left: 3px;
}

header .header-title:hover .header-title-1 {
  -webkit-animation: rotateTitle 1s 1;
          animation: rotateTitle 1s 1;
}

header .header-title:active .header-title-1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes rotateTitle {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: scale(1.2) rotate(5deg);
            transform: scale(1.2) rotate(5deg);
  }
  50% {
    -webkit-transform: scale(1.2) rotate(-5deg);
            transform: scale(1.2) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotate(3deg);
            transform: scale(1.2) rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes rotateTitle {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: scale(1.2) rotate(5deg);
            transform: scale(1.2) rotate(5deg);
  }
  50% {
    -webkit-transform: scale(1.2) rotate(-5deg);
            transform: scale(1.2) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotate(3deg);
            transform: scale(1.2) rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

header .navbar {
  width: 100vw;
  margin-bottom: 1rem;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar ul li {
  display: inline-block;
  border-right: 0.2rem solid #00e75e;
  /* remove the last border-right */
}

header .navbar ul li:nth-child(4) {
  border-right: none;
}

header .navbar ul li a {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #2b3073;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
}

header .navbar ul li a:hover,
header .navbar ul li a:active {
  border-bottom: 3px solid #fd025e;
}

.main-section {
  margin: 150px 0 2rem;
  width: 100%;
  text-align: justify;
}

.main-section .page-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: calc(2rem + 1.8vw);
  color: #00e75e;
  text-align: center;
  margin-bottom: 2.5rem;
}

@media screen and (max-height: 320px) {
  header .header-title {
    /* give more space for main when the height is less than 320px */
    padding: 0.3rem;
    margin-top: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */