* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

header {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f0ea;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 1;
}

header .header-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: calc(2rem + 1.8vw);
  padding: 1rem;
  margin-top: 1rem;
}

header .header-title a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title a .header-title-1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #2b3073;
  font-size: 0.8rem;
  line-height: 10px;
  padding-right: 3px;
}

header .header-title a .header-title-2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fd025e;
  font-size: 1.4rem;
  padding-left: 3px;
}

header .navbar {
  width: 100vw;
  margin-bottom: 1rem;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar ul li {
  display: inline-block;
  border-right: 0.2rem solid #00e75e;
}

header .navbar ul li:nth-child(4) {
  border-right: none;
}

header .navbar ul li a {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #2b3073;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
}

header .navbar ul li a:hover,
header .navbar ul li a:active {
  border-top: 3px solid #fd025e;
  border-bottom: 3px solid #fd025e;
}

.main-section {
  margin: 150px auto 2rem;
  width: 80vw;
  text-align: justify;
}

.main-section .page-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: calc(2rem + 1.8vw);
  color: #00e75e;
  text-align: center;
  margin-bottom: 2.5rem;
}

body {
  margin-bottom: 3rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  list-style-type: none;
}

.social {
  padding: 0.5rem;
}

.social .fab {
  font-size: 1.2rem;
  color: #00e75e;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.project-container .project-box {
  width: 90vw;
  height: 35vh;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.project-container .project-box .project-box__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container .project-box .project-box__link i {
  font-size: 1.1rem;
  padding: 0.2rem;
}

.project-container .project-box .project-box__content {
  color: #2b3073;
  text-align: left;
  width: 40vw;
}

.project-container .project-box .project-box__content .project-heading {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
}

.project-container .project-box .project-box__content .project-tech {
  font-family: "Noto Sans", sans-serif;
}

.project-container .project-box:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#f3cbab), to(#feedca));
  background: linear-gradient(180deg, #f3cbab, #feedca);
}

.project-container .project-box:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#b1e5f9), to(#f4d2fe));
  background: linear-gradient(180deg, #b1e5f9, #f4d2fe);
}

.project-container .project-box:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#dbb4f3), to(#efb7d7));
  background: linear-gradient(180deg, #dbb4f3, #efb7d7);
}

.project-container .project-box:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#efa971), to(#e4cafe));
  background: linear-gradient(180deg, #efa971, #e4cafe);
}

.project-container .project-box:nth-child(5) {
  background: -webkit-gradient(linear, left top, left bottom, from(#b1e5f9), to(#f4d2fe));
  background: linear-gradient(180deg, #b1e5f9, #f4d2fe);
}

figure {
  margin: 0 auto;
  text-align: center;
}

figure img {
  width: 300px;
  height: auto;
}

figure figcaption {
  font-family: "Noto Sans", sans-serif;
}
/*# sourceMappingURL=portfolio.css.map */