@import 'variables';
@import 'settings';
@import 'navbar';
@import 'footer';

.project-container {
  width: 80vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 3rem 1.5rem;
  // make the box fit to the grid templates
  justify-items: center;

  .project-box {
    width: 90%;
    height: 35vh;
    box-sizing: border-box;
    padding: 0.8rem 0.8rem 2rem 2rem;
    border: 7px solid $point-green;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .project-box__link {
      align-self: flex-end;
      width: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      i {
        font-size: 1.1rem;
        padding: 0.2rem;
      }
    }
    .project-box__content {
      color: $text-navy;
      text-align: left;
      width: 100%;

      .project-heading {
        font-family: $font-bold;
        font-size: 2rem;
        line-height: 2rem;
      }

      .project-tech {
        font-family: $font-text;
        // height: 10vh;
        padding: 1rem 0 0;
      }
    }
  }
  .project-box:nth-child(1) {
    background-color: $point-orange;
  }
  .project-box:nth-child(2) {
    background-color: $point-green;
  }
  .project-box:nth-child(3n) {
    background-color: $point-pink;
  }
  .project-box:nth-child(3n + 1) {
    background-color: $point-orange;
  }
  .project-box:nth-child(3n + 2) {
    background-color: $point-green;
  }
  // .project-box:nth-child(6) {
  //   background-color: $point-pink;
  // }
}

figure {
  margin: 0 auto;
  text-align: center;
  img {
    width: 300px;
    height: auto;
  }

  figcaption {
    font-family: $font-text;
  }
}
