@import 'variables';

.project-container {
  width: 80vw;
  margin: 0 auto;

  display: grid;
  // minmax(250px, 1fr) is the best fit to the mobile, expecially iphone 5/se
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 3rem 1.5rem;
  // make the box fit to the grid templates
  justify-items: center;

  .project-box {
    width: 90%;
    height: 35vh;
    // don't forget to add box-sizing: border-box!!!! (in most cases)
    box-sizing: border-box;
    padding: 0.8rem 0.8rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    /*** icon component combining the github link and demo link */
    .project-box__link {
      align-self: flex-end;
      width: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      i {
        font-size: 1.1rem;
        padding: 0.2rem;
      }
    }
    .project-box__content {
      color: $text-navy;
      text-align: left;
      width: 100%;

      .project-heading {
        font-family: $font-bold;
        font-size: 2rem;
        line-height: 2rem;
      }

      .project-tech {
        font-family: $font-text;
        padding: 1rem 0 0;
      }
    }
    // apply three different colors in a row
    &:nth-child(3n + 1) {
      background-color: $point-green;
    }
    &:nth-child(3n + 2) {
      background-color: $point-orange;
    }
    &:nth-child(3n) {
      background-color: $point-pink;
    }
  }
}

@media screen and (min-width: 1500px) {
  .project-container {
    width: 1200px;
  }
}
