@import 'settings';

.post-container {
  width: 80vw;
  margin: 0 auto;
}

/* # text component - published date and a headline */
.post-title {
  p {
    @include blogDate;
    padding-top: 2.5rem;
  }
  h1 {
    font-family: $font-bold;
    font-size: 1.7rem;
    @include blogText;
  }
}

/* # graphical component - main image and caption */
figure,
.blog-image {
  padding-bottom: 1.5rem;
  img {
    width: 100%;
  }
  figcaption {
    text-align: center;
    font-family: $font-text;
    font-size: 0.8rem;
  }
}

/* # text component - headings and paragraphs */
.post-main {
  .post-headings {
    font-family: $font-title;
    font-size: 1.2rem;
    @include blogText;
    &:nth-child(2) {
      color: red !important;
    }
  }

  p {
    font-family: $font-text;
    font-size: 1rem;
    @include blogText;
  }
}

@media screen and (min-width: 601px) {
  .post-title {
    h1 {
      font-size: 2.4rem;
    }
  }
}

@media screen and (min-width: 801px) {
  .post-container {
    width: 700px;
  }
  .post-title {
    h1 {
      font-size: 3rem;
    }
  }

  /* # graphical component - image and caption that changes the layout */
  .blog-image {
    width: 400px;
    float: left;
    position: relative;
    left: -50px;
    top: 5px;
  }
}
