* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

header {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f0ea;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 1;
  /*** title component aligning text with flexbox */
  /*** navbar component */
}

header .header-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: calc(2rem + 1.8vw);
  padding: 1rem;
  margin-top: 1rem;
}

header .header-title a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title a .header-title-1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #2b3073;
  font-size: 0.9rem;
  line-height: 11px;
  padding-right: 3px;
}

header .header-title a .header-title-2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fd025e;
  font-size: 1.5rem;
  padding-left: 3px;
}

header .header-title:hover .header-title-1, header .header-title:active .header-title-1 {
  -webkit-animation: rotateTitle 1s 1;
          animation: rotateTitle 1s 1;
}

@-webkit-keyframes rotateTitle {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(32);
            transform: scale(32);
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes rotateTitle {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(32);
            transform: scale(32);
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

header .navbar {
  width: 100vw;
  margin-bottom: 1rem;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar ul li {
  display: inline-block;
  border-right: 0.2rem solid #00e75e;
}

header .navbar ul li:nth-child(3) {
  border-right: none;
}

header .navbar ul li a {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #2b3073;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
}

header .navbar ul li a:hover,
header .navbar ul li a:active {
  border-bottom: 3px solid #fd025e;
}

.main-section {
  margin: 150px 0 2rem;
  width: 100%;
  text-align: justify;
}

.main-section .page-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: calc(2rem + 1.8vw);
  color: #00e75e;
  text-align: center;
  margin-bottom: 2.5rem;
}

body {
  margin-bottom: 4rem;
}

/*** a footer component containing icons displays at the bottom of each page */
#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

#footer ul li {
  list-style-type: none;
}

.social {
  padding: 0.5rem;
}

.social .fab {
  font-size: 1.2rem;
  color: #00e75e;
}

.post-container {
  width: 80vw;
  margin: 0 auto;
}

.post-title p {
  font-family: "Noto Sans", sans-serif;
  color: #a4a4a5;
  font-size: 0.7rem;
  padding-top: 2.5rem;
}

.post-title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: #2b3073;
  text-align: left;
  padding-bottom: 1.5rem;
  text-align: left;
}

/*** main image and caption component */
figure,
.blog-image {
  padding-bottom: 1.5rem;
}

figure img,
.blog-image img {
  width: 100%;
}

figure figcaption,
.blog-image figcaption {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}

/*** article component including headings and paragraphs */
.post-main .post-headings {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  color: #2b3073;
  text-align: left;
  padding-bottom: 1.5rem;
  text-align: left;
}

.post-main .post-headings:nth-child(2) {
  color: red !important;
}

.post-main p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #2b3073;
  text-align: left;
  padding-bottom: 1.5rem;
  text-align: left;
}

@media screen and (min-width: 601px) {
  .post-title h1 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 801px) {
  .post-container {
    width: 700px;
  }
  .post-title h1 {
    font-size: 3rem;
  }
  /*** image component changes the layout */
  .blog-image {
    width: 400px;
    float: left;
    position: relative;
    left: -50px;
    top: 5px;
  }
}
/*# sourceMappingURL=post.css.map */