@import 'variables';

// @mixins that repeats throught the website
@mixin bold-text {
  font-family: $font-bold;
  text-transform: uppercase;
  font-weight: 800;
  line-height: calc(2rem + 1.8vw);
}

@mixin heading {
  font-family: $font-title;
  text-transform: uppercase;
  color: $text-navy;
  font-weight: 600;
  font-size: 1rem;
}

@mixin blogText {
  color: $text-navy;
  text-align: left;
  padding-bottom: 1.5rem;
  text-align: left;
}

@mixin blogDate {
  font-family: $font-text;
  color: $text-gray;
  font-size: 0.7rem;
}

/* remove all the default margin and padding on each element */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}
