$font-text: 'Noto Sans', sans-serif;
$font-bold: 'Poppins', sans-serif;
// font-weight: 400 ~ 900
$font-title: 'Ubuntu', sans-serif;
// font-weight: 400, 500, 700

$point-pink: #fd025e;
$point-green: #00e75e;
$point-orange: #ffd900;
$text-navy: #2b3073;
$text-gray: #a4a4a5;
$bg-color: #f5f2e3;
$bg-gradient: #f6f0ea;
$bg-blue: #bdd4d9;
